<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container-fluid text-center">
    <h1><b>SERVICES</b></h1>
    <h4>What we offer</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="container">
            <img src="assets/w5.jpg"  class="image">  
        <h4>Marriage</h4>
        <div class="overlay"> 
            <p>We’ve hosted numerous annual day events for Major companies such as JP Morgan Chase, Brigade Group, Toyota Finance, Altmetrik & many other NC’s. </p>
         </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
            <img src="assets/birthday.jpg"  class="image">
        <h4>Birthday</h4>
        <div class="overlay"> 
            <p>We’ve hosted numerous annual day events for Major companies such as JP Morgan Chase, Brigade Group, Toyota Finance, Altmetrik & many other NC’s. </p>
            </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
            <img src="assets/exh2.jpg"  class="image">
        <h4>Conferences & Exhibitions</h4>
        <div class="overlay"> 
            <p>We’ve hosted numerous annual day events for Major companies such as JP Morgan Chase, Brigade Group, Toyota Finance, Altmetrik & many other NC’s. </p>
            </div>
      </div>
      </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
        <div class="container">
        <img src="assets/corp.jpg"  class="image">
        <h4>Corporate Parties</h4>
        <div class="overlay"> 
        <p>We’ve hosted numerous annual day events for Major companies such as JP Morgan Chase, Brigade Group, Toyota Finance, Altmetrik & many other NC’s. </p>
        </div>
      </div>
        </div>
      <div class="col-sm-4">
        <div class="container">
            <img src="assets/prod.jpg"  class="image">
        <h4>Event Production & Technology</h4>
        <div class="overlay"> 
            <p>We’ve hosted numerous annual day events for Major companies such as JP Morgan Chase, Brigade Group, Toyota Finance, Altmetrik & many other NC’s. </p>
            </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
            <img src="assets/concert.jpg"  class="image">
        <h4>concert</h4>
        <div class="overlay"> 
            <p>We’ve hosted numerous annual day events for Major companies such as JP Morgan Chase, Brigade Group, Toyota Finance, Altmetrik & many other NC’s. </p>
            </div>
      </div>
    </div>
    </div>
    </div>
    </body>
    </html>
  